
	/***NAVBAR***/
	/*Move Tab-bar beside Nav-bar*/
	#TabsToolbar {		
		margin-bottom: 2px !important;
		margin-left: 30vw !important;	
  }

	#nav-bar {		
		margin-bottom: none !important;
		margin-top: -34px !important;
		margin-right: 70vw !important;
		
	}	
	
	/*Navbar Round and add border*/	
	#urlbar, .searchbar-textbox{
    border: none !important;
		border-radius: 0px !important;
		box-shadow: none !important;
		background-color:transparent !important;
}
	#nav-bar, #urlbar-container, #urlbar, #TabsToolbar, #tabbrowers-tabs {
		min-width: unset !important;
		width: unset !important;
		max-width: unset !important;
	}

	/*Navbar Icon Tweaks*/	
	#back-button > .toolbarbutton-icon,
	#forward-button > .toolbarbutton-icon {
		transform: scale(0.9, 0.9) !important;
		margin-left: -2px !important;
		margin-right: -2px !important; 
	}

	/***MENU***/
	/*Menu to the left side*/		
	#PanelUI-button,
	#customization-panel-container,
	#customization-panelWrapper .panel-arrow { 
		-moz-box-ordinal-group: 0 !important;
		margin-right: -6px !important;
	}		
		
	#appMenu-popup {
		margin-right: -258px !important;
	}
	
	#appMenu-popup .panel-arrow {
		margin-right: 248px !important;
	}

	
	/***TABS***/
	/*Tab Sizes*/	
	.tabbrowser-tab[fadein][pinned] {
		min-width: 35px !important;
		max-width: 35px !important;
	}
	
	.tabbrowser-tab[fadein]:not([pinned]) {
		min-width: 140px !important;
		max-width: 170px !important;
	}
	

tab>.tab-stack>.tab-background { 
    border: transparent !important;
	border-width: 0px !important;
	border-style: solid !important;
	margin: 0 px !important;
}
.tab-line {
  display: none !important;
  }
	#navigator-toolbox::after {
	border-bottom: 0px !important;
}
	/*Always show Close Button*/	
	.tabbrowser-tab[fadein]:not([pinned]) .tab-close-button,
	.tabbrowser-tab[fadein]:not([pinned]) .tab-close-button > .toolbarbutton-icon {
		display: -moz-box !important;
		opacity: 1.0 !important;
		color: var(--color-ui-grey) !important;
		margin-top: 0px !important;
	}   
			
	/*Tab Tweaks*/	
	#nav-bar { /* main toolbar */
  -moz-box-ordinal-group: 1 !important;
  box-shadow: none !important;
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.0)!important;
  border-collapse: collapse !important;
  border: 0px solid transparent !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
    display: none !important;
}


	.tab-icon-image, .tab-label-container {
		margin-top: -1px !important;
	}
	
	.tab-content[pinned] {
		padding: 0px 9px !important;
	}	
	
	/*New Tab and Tab Scroll Tweaks*/	
	#new-tab-button,
	.tabs-newtab-button,
	#tabbrowser-tabs .scrollbutton-down,
	#tabbrowser-tabs .scrollbutton-up {		
		background-color: var(--color-tab-notfocus) !important;		
		border-top: 1px solid var(--color-border) !important;
		border-right: 1px solid var(--color-border) !important;
		z-index: 5 !important;
	}	
	
	#tabbrowser-tabs .scrollbutton-up {		
		border-left: 1px solid var(--color-tab-notfocus) !important;
	}	
	
	#tabbrowser-tabs .scrollbutton-down {		
		border-left: 1px solid var(--color-border) !important;
	}	
		
	/*Pin Tab notification from dot to background*/
	.tab-content[pinned][titlechanged] {
		background-image: none !important;
		background-color: var(--color-tab-notification) !important;
	}
		
	/* Show favicon for tabs without favicons */
	.tabbrowser-tab:not([pinned]) .tab-icon-image:not([src]) {
		display: inline !important;
		list-style-image: url('./tab_favicon_dotted.png') !important;
	}

	.tabbrowser-tab:not([pinned])[busy] .tab-icon-image {
		display: none !important;
	}
	

	/*HIDE STUFF*/		
	/*Tabs*/
	#TabsToolbar .titlebar-placeholder[type="pre-tabs"],
	#TabsToolbar .tab-line,

	/*Menu*/
	#appMenu-fxa-container,
	#appMenu-fxa-container+toolbarseparator,
	#appMenuRestoreLastSession,
	#appMenu-zoom-controls,
	#appMenu-zoom-controls+toolbarseparator,
	#appMenu-edit-controls,
	#appMenu-edit-controls+toolbarseparator,
	#appMenu-library-button,
	#appMenu-customize-button,
	#appMenu-customize-button+toolbarseparator,
	#appMenu-open-file-button,
	#appMenu-save-file-button,
	#appMenu-find-button,
	#appMenu-more-button,

	/*URL Bar*/
	
}
:root:-moz-lwtheme {    /*Properties for the layout Firefox uses when custom themes are enabled*/
    --toolbox-border-bottom-color: rgba(0,0,0,.0) !important;   /*Disabling the random divider line that's present when using custom themes*/
}

#nav-bar {  /*Entire Main Toolbar containing address bar, search bar, add-on icons*/
    box-shadow: none !important;    /*Starting with Firefox 58, this is needed in addition to :root:moz-lwtheme to disable the divider*/
}

/* Tab bar below Navigation & Bookmarks Toolbars */
#nav-bar { /* main toolbar */
  -moz-box-ordinal-group: 1 !important;
  box-shadow: none !important;
  //box-shadow : 0 1px 0 #B9D1EA !important; /* This is covering a 1px line I cant get to go away */
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.0)!important;
  border-collapse: collapse !important;
  border: 0px solid transparent !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

#navigator-toolbox::after {
	border-bottom: 0px !important;
}

