	/***NAVBAR***/
	/*Move Tab-bar beside Nav-bar*/
	#TabsToolbar {		
		margin-bottom: 2px !important;
		margin-left: 30vw !important;	
  }

	#nav-bar {		
		margin-bottom: none !important;
		margin-top: -34px !important;
		margin-right: 69.5vw !important;
		
	}	
	
	/*Navbar Round and add border*/	
	
}
	#nav-bar, #urlbar-container, #urlbar, #TabsToolbar, #tabbrowers-tabs {
		min-width: unset !important;
		width: unset !important;
		max-width: unset !important;
	}

	/*Navbar Icon Tweaks*/	
	#back-button > .toolbarbutton-icon,
	#forward-button > .toolbarbutton-icon {
		transform: scale(0.9, 0.9) !important;
		margin-left: -2px !important;
		margin-right: -2px !important; 
	}

	/***MENU***/
	/*Menu to the left side*/		
	#PanelUI-button,
	#customization-panel-container,
	#customization-panelWrapper .panel-arrow { 
		-moz-box-ordinal-group: 0 !important;
		margin-right: -6px !important;
	}		
		
	#appMenu-popup {
		margin-right: -258px !important;
	}
	
	#appMenu-popup .panel-arrow {
		margin-right: 248px !important;
	}

	
	/***TABS***/
	/*Tab Sizes*/	
	.tabbrowser-tab[fadein][pinned] {
		min-width: 35px !important;
		max-width: 35px !important;
	}
	
	.tabbrowser-tab[fadein]:not([pinned]) {
		min-width: 140px !important;
		max-width: 170px !important;
	}
	

tab>.tab-stack>.tab-background { 
    border: transparent !important;
	border-width: 0px !important;
	border-style: solid !important;
	margin: 0 px !important;
}
.tab-line {
  display: none !important;
  }
	#navigator-toolbox::after {
	border-bottom: 0px !important;
}
	
			
	/*Tab Tweaks*/	
	#nav-bar { /* main toolbar */
  -moz-box-ordinal-group: 1 !important;
  box-shadow: none !important;
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.0)!important;
  border-collapse: collapse !important;
  border: 0px solid transparent !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
    display: none !important;
}


	.tab-icon-image, .tab-label-container {
		margin-top: -1px !important;
	}
	
	.tab-content[pinned] {
		padding: 0px 9px !important;
	}	
	
	/*New Tab and Tab Scroll Tweaks*/	
	#new-tab-button,
	.tabs-newtab-button,
	#tabbrowser-tabs .scrollbutton-down,
	#tabbrowser-tabs .scrollbutton-up {		
		background-color: var(--color-tab-notfocus) !important;		
		border-top: 1px solid var(--color-border) !important;
		border-right: 1px solid var(--color-border) !important;
		z-index: 5 !important;
	}	
	
	#tabbrowser-tabs .scrollbutton-up {		
		border-left: 1px solid var(--color-tab-notfocus) !important;
	}	
	
	#tabbrowser-tabs .scrollbutton-down {		
		border-left: 1px solid var(--color-border) !important;
	}	
		
	/*Pin Tab notification from dot to background*/
	.tab-content[pinned][titlechanged] {
		background-image: none !important;
		background-color: var(--color-tab-notification) !important;
	}
		
	/* Show favicon for tabs without favicons */
	.tabbrowser-tab:not([pinned]) .tab-icon-image:not([src]) {
		display: inline !important;
		list-style-image: url('./tab_favicon_dotted.png') !important;
	}

	.tabbrowser-tab:not([pinned])[busy] .tab-icon-image {
		display: none !important;
	}
	

	/*HIDE STUFF*/		
	/*Tabs*/
	#TabsToolbar .titlebar-placeholder[type="pre-tabs"],
	#TabsToolbar .tab-line,

	/*Menu*/
	#appMenu-fxa-container,
	#appMenu-fxa-container+toolbarseparator,
	#appMenuRestoreLastSession,
	#appMenu-zoom-controls,
	#appMenu-zoom-controls+toolbarseparator,
	#appMenu-edit-controls,
	#appMenu-edit-controls+toolbarseparator,
	#appMenu-library-button,
	#appMenu-customize-button,
	#appMenu-customize-button+toolbarseparator,
	#appMenu-open-file-button,
	#appMenu-save-file-button,
	#appMenu-find-button,
	#appMenu-more-button,

	/*URL Bar*/
	
}
:root:-moz-lwtheme {    /*Properties for the layout Firefox uses when custom themes are enabled*/
    --toolbox-border-bottom-color: rgba(0,0,0,.0) !important;   /*Disabling the random divider line that's present when using custom themes*/
}

#nav-bar {  /*Entire Main Toolbar containing address bar, search bar, add-on icons*/
    box-shadow: none !important;    /*Starting with Firefox 58, this is needed in addition to :root:moz-lwtheme to disable the divider*/
}

/* Tab bar below Navigation & Bookmarks Toolbars */
#nav-bar { /* main toolbar */
  -moz-box-ordinal-group: 1 !important;
  box-shadow: none !important;
  //box-shadow : 0 1px 0 #B9D1EA !important; /* This is covering a 1px line I cant get to go away */
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.0)!important;
  border-collapse: collapse !important;
  border: 0px solid transparent !important;
  padding-bottom: 10px !important;
  margin-bottom: 10px !important;
  padding-top: 3px !important
}

#navigator-toolbox::after {
	border-bottom: 0px !important;
}


:root:not([uidensity=compact]) #back-button>.toolbarbutton-icon {
    background-color: initial !important;
    border: initial !important;
}
#tabbrowser-tabs {
  margin-left: 0px !important;
  margin-bottom: -1px !important;
  border-radius: 20% !important;
}
#TabsToolbar .tab-content > * {
  margin-bottom: 0px !important;
  margin-bottom: 0px !important;
}

/* Tab bar below Navigation & Bookmarks Toolbars */
#nav-bar { /* main toolbar */
  -moz-box-ordinal-group: 1 !important;
  box-shadow: none !important;
  //box-shadow : 0 1px 0 #B9D1EA !important; /* This is covering a 1px line I cant get to go away */
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.0)!important;
  border-collapse: collapse !important;
  border: 0px solid transparent !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
    display: none !important;
}

#navigator-toolbox>toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
    padding: 0px 4px 4px !important;
}

.tabbrowser-tab {
    margin: 0 -28px 0 0px !important;
}

.tab-background {
          
    border: none !important;
    border-left: .1px solid none !important;
    border-right:.1px solid none !important;
    margin: 0 15px !important;
   
}

.tabbrowser-tab[selected="true"] .tab-background {
      padding-bottom: 17px !important;
}

.tabbrowser-tab[selected="true"] .tab-text.tab-label {
    color:  !important;
}

.tab-line {
    display: none !important;
}

.tab-content {
    padding: 0 25px !important;
}

.tabs-newtab-button.toolbarbutton-1 {
    margin-left: 20px !important;
}

.titlebar-placeholder[type="pre-tabs"] {
    border-inline-end: initial !important;
}

#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab]>.tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
    margin-top: 0;
    margin-bottom: 1px;
    border: none !important;
}

[tabsintitlebar]:root:not([extradragspace]) .tabbrowser-tab::after,
.tabbrowser-tab:hover::after,
#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforehovered]::after {
    border: none !important;
}

.tab-text.tab-label {
    color:  !important;
    
}

.search-panel-header {
    display: none !important;
}
#urlbar, .searchbar-textbox{
    border-radius: 2em !important;
    border-color:white !important;
    box-shadow: none !important;
    background-color:  !important;
}



#PanelUI-button{
    border-image-slice: 0 !important;
}





tab:after { display: none !important; }
tab:before { border: none!important; }
#titlebar-buttonbox { margin-top: -5px; }
tab>.tab-stack>.tab-background { 
    border-color: white !important;
    border-radius: 2px !important;
	border-width: 1px 1px 1px 1px !important;
	border-style: solid !important;
	margin: 0 10px 0 !important;
	border-radius: 2em !important;
}

