#nav-bar { 
  -moz-box-ordinal-group: 0 !important;
   height: unset !important;
   padding-right: 135px !important; /*padding for titlebarbuttons*/
   background-image: none !important;
   background-color: transparent !important;
}


#PersonalToolbar{
   background: transparent !important;
}
#navigator-toolbox{
    //background-image: linear-gradient(120deg, #2ac363, #cd8c14, #9c4cc2)!important;
}
/*selected tab*/
.tabbrowser-tab .tab-line {
   height: 2em !important; /*adjust for windows*/
   opacity: 0.25 !important;
   border-radius: 0.5em !important;
}

/*remove separator*/
.tabbrowser-tab::after {
   display: none !important;
}
/*styling*/.tabbrowser-tab .tab-background, .toolbarbutton-1,#urlbar,.bookmark-item{
   border: 1px solid black !important;
   box-shadow: 0px 0px 3px 0px inset !important;
   border-radius: 0.5em !important;
   margin: 0 !important;
   min-height: unset !important;
   height: 30px !important;
   background-color: #fff !important;
   margin:4px !important;
}
/* Unselected hovered tabs (with animation) */
.tabbrowser-tab:not([selected]):hover .tab-background,.toolbarbutton-1:hover,#urlbar:hover,.bookmark-item:hover{
   box-shadow:0px 0px 3px 0px black  !important;
   transition: background-image 200ms !important;
   border:solid 1px black !important;
   opacity: 1 !important;
   background: #fff!important;
}
/*full-width tabs*/
#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  flex-grow: 1 !important;
  min-width: 11em !important;
  max-width: 100% !important;
}
.titlebar-placeholder {
  display: none;
}
/*no default hover animation*/
toolbarbutton:hover .toolbarbutton-badge-stack,
toolbarbutton:not([disabled]):not(.bookmark-item):not(.titlebar-button):not(.subviewbutton):hover
    > .toolbarbutton-icon,
.bookmark-item:hover {
    background: none !important; 
}

#back-button{
   border-radius: 0.5em 0 0 0.5em !important;
   background-color: #fff !important;
   margin-right: 0px !important;
}
#forward-button{
border-radius: 0 0.5em 0.5em 0 !important;
   background-color: #fff !important;
   margin-right: 4px !important;
   margin:4px !important;
   margin-left: 0px !important;
}
#reload-button{
   border-radius:0!important;
   background-color: #fff !important;
   margin-right: 0px !important;
      margin-left:0px !important;


}
#nav-bar-overflow-button{
   background-color: #fff !important;
   margin-right: 0px !important;
   margin-left:0px !important;
   border-radius: 0.5em 0 0 0.5em !important;
}
#PanelUI-menu-button{
   border-radius: 0 0.5em 0.5em 0 !important;
   background-color: #fff !important;
   margin-right: 4px !important;
   margin:4px !important;
   margin-left: 0px !important;
}
/*not really needed->
#navigator-toolbox:after{
   border-bottom: 0px !important;
}
.tabbrowser-tab:not([selected])[beforeselected-visible], .tabbrowser-tab:not([selected])[last-visible-tab] {
   border-right: !important;
   border-radius: !important;
}
 .tabbrowser-tab[first-visible-tab] {
   border-radius:  !important;
}
.tabbrowser-tab[last-visible-tab] {
   border-radius:  !important;
}