
:root:not([uidensity=compact]) #back-button>.toolbarbutton-icon {
    background-color: initial !important;
    border: initial !important;
}
#tabbrowser-tabs {
  margin-left: 0px !important;
  margin-bottom: -1px !important;
  border-radius: 20% !important;
}
#TabsToolbar .tab-content > * {
  margin-bottom: 0px !important;
  margin-bottom: 0px !important;
}

/* Tab bar below Navigation & Bookmarks Toolbars */
#nav-bar { /* main toolbar */
  -moz-box-ordinal-group: 1 !important;
  box-shadow: none !important;
  //box-shadow : 0 1px 0 #B9D1EA !important; /* This is covering a 1px line I cant get to go away */
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.0)!important;
  border-collapse: collapse !important;
  border: 0px solid transparent !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
    display: none !important;
}

#navigator-toolbox>toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
    padding: 0px 4px 4px !important;
}

.tabbrowser-tab {
    margin: 0 -28px 0 0px !important;
}

.tab-background {
          
    border: none !important;
    border-left: .1px solid none !important;
    border-right:.1px solid none !important;
    margin: 0 15px !important;
   
}

.tabbrowser-tab[selected="true"] .tab-background {
      padding-bottom: 17px !important;
}

.tabbrowser-tab[selected="true"] .tab-text.tab-label {
    color:  !important;
}

.tab-line {
    display: none !important;
}

.tab-content {
    padding: 0 25px !important;
}

.tabs-newtab-button.toolbarbutton-1 {
    margin-left: 20px !important;
}

.titlebar-placeholder[type="pre-tabs"] {
    border-inline-end: initial !important;
}

#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab]>.tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
    margin-top: 0;
    margin-bottom: 1px;
    border: none !important;
}

[tabsintitlebar]:root:not([extradragspace]) .tabbrowser-tab::after,
.tabbrowser-tab:hover::after,
#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforehovered]::after {
    border: none !important;
}

.tab-text.tab-label {
    color:  !important;
    
}

.search-panel-header {
    display: none !important;
}
#urlbar, .searchbar-textbox{
    border-radius: 2em !important;
    border-color:white !important;
    box-shadow: none !important;
    background-color:  !important;
}


#PanelUI-menu-button {
    list-style-image: url("chrome://browser/skin/page-action.svg") !important;
    transform: rotate(90deg)
}
#PanelUI-button{
    border-image-slice: 0 !important;
}
/*Shrink close button, favicon*/
.tabbrowser-tab .tab-icon-image,
.tabbrowser-tab .close-icon {
	transform:scale(.9,.9)!important;
}

.close-icon {
	transition:opacity 250ms var(--animation-easing-function),
	margin-left 250ms var(--animation-easing-function),
	transform var(--animation-easing-function),
	visibility 0ms 25ms!important;
}
.tabbrowser-tab:not(:hover) .close-icon {
	opacity:0!important;
	margin-left:calc((-20px * .9) + 2px)!important;
	transform:scale(.4,.4)!important;
}

.tab-close-button {
  margin-inline-end: -2px;
  -moz-context-properties: fill, fill-opacity, stroke-opacity;
  stroke-opacity: 100%;
  transform: translateX(-9px) !important;
  border-radius: 50px !important;
}




tab:after { display: none !important; }
tab:before { border: none!important; }
#titlebar-buttonbox { margin-top: -5px; }
tab>.tab-stack>.tab-background { 
    border-color: white !important;
    border-radius: 2px !important;
	border-width: 1px 1px 1px 1px !important;
	border-style: solid !important;
	margin: 0 10px 0 !important;
	border-radius: 2em !important;
}

