@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* change background of navbar */
#nav-bar
{
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
}


/* remove nav bar top border */
#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar)
{
  border-top-style: none !important;
}

/* style navbar buttons */
#nav-bar .toolbarbutton-1:not(:-moz-lwtheme)
{
  -moz-appearance: toolbarbutton !important;
  margin: 0px !important;
}

#nav-bar .toolbarbutton-1:-moz-lwtheme:hover
{
  background: hsla(0,0%,100%,0.30);
}

#nav-bar
{
  padding: 0 !important;
  margin-top: 0px !important;
}

#nav-bar .toolbarbutton-icon:hover,
#nav-bar .toolbarbutton-icon
{
  background: none !important;
}

#nav-bar .toolbarbutton-icon:not(:-moz-lwtheme),
#nav-bar .toolbarbutton-icon:not(:-moz-lwtheme):hover
{
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

/**/

:root {
  --toolbarbutton-inner-padding: 0 !important;
  --arrowpanel-dimmed: Highlight !important;
  --arrowpanel-dimmed-further: Highlight !important;
  --arrowpanel-dimmed-even-further: Highlight !important;
}


/* change background of bookmarks bar */
#PersonalToolbar
{
  background: none !important;
  padding: 0 !important;
}

#PersonalToolbar .bookmark-item
{
  -moz-appearance: toolbarbutton !important;
}

#PersonalToolbar .menuitem-iconic
{
  -moz-appearance: menuitem !important;
}

#PersonalToolbar .menu-iconic
{
  -moz-appearance: menuitem !important;
}

#PersonalToolbar .bookmark-item:-moz-lwtheme
{
  -moz-appearance: none !important;
}

#PersonalToolbar .bookmark-item:-moz-lwtheme:hover
{
  background: hsla(0,0%,100%,0.30) !important;
}
.urlbar-icon:hover, .urlbar-icon-wrapper:hover {
  background-color: Highlight !important;
}
.urlbar-icon[open],
.urlbar-icon-wrapper[open],
.urlbar-icon:hover:active,
.urlbar-icon-wrapper:hover:active {
  background-color: Highlight !important;
}
#identity-box:hover,
#identity-box[open] {
  background-color: Highlight !important;
}



/* change colors of PanelUI menu */
:root {
  --arrowpanel-background: -moz-dialog !important;
  --arrowpanel-color: -moz-dialogText !important;
}
panelview .toolbarbutton-1:-moz-any(:hover, :focus):not(:-moz-any([disabled])),
toolbarbutton.subviewbutton:-moz-any(:hover, :focus):not(:-moz-any([disabled] )),
menu.subviewbutton[_moz-menuactive]:not(:-moz-any([disabled])),
menuitem.subviewbutton[_moz-menuactive]:not(:-moz-any([disabled])),
.widget-overflow-list .toolbarbutton-1:-moz-any(:hover, :focus):not(:-moz-any([disabled])),
.toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:-moz-any(:hover, :focus):not(:-moz-any([disabled])) {
  color: HighlightText !important;
  background-color: Highlight !important;
}
photonpanelmultiview .PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic) {
  background-color:  -moz-dialog !important;
  border: 1px solid ThreeDShadow !important;
}
photonpanelmultiview .PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic):hover {
  background-color: Highlight !important;
  border: 1px solid HighlightText !important;
}
.subviewbutton:hover::after {
  background-color: Highlight !important;
  color: HighlightText !important;
}


/* change colors of empty page (e.g. while loading) */
.tabbrowser-tabbox {
  background: -moz-Field !important;
  color: -moz-FieldText !important;
}


/* change style of sidebar header */
#sidebar-header {
  background-color: -moz-dialog !important;
  padding: 0px !important;
}
#sidebar-switcher-target {
  -moz-appearance: button !important;
}
.sidebar-header, #sidebar-header {
  font-size: 1em !important;
}


/* change style of autocomplete popup */
.search-panel-current-engine {
  color: ButtonText !important;
  -moz-appearance: button !important;
}
.search-panel-header {
  background-color: -moz-Dialog !important;
}
.search-panel-one-offs {
  background-color: -moz-Dialog !important;
}
.searchbar-engine-one-off-item:not(.dummy)  {
  -moz-appearance: dualbutton !important;
}
.addengine-item {
  color: ButtonText !important;
  -moz-appearance: button !important;
}
.search-setting-button {
  color: ButtonText !important;
  -moz-appearance: button !important;
}
.autocomplete-richlistitem:hover,
treechildren.searchbar-treebody::-moz-tree-row(hover) {
  background-color: Highlight !important;
}




/* change style of download popup menu */
.downloadsPanelFooter {
  background-color: var(--arrowpanel) !important;
}

.downloadIconShow > .button-box > .button-icon {
    list-style-image: url("moz-icon://stock/gtk-directory?size=toolbar") !important;
}


.popup-notification-button, .panel-subview-footer, .downloadsPanelFooterButton{
  -moz-appearance: button !important;

}
#urlbar, .searchbar-textbox
{
  border-radius: 5px !important;
  box-shadow: initial !important;
  margin: 0px !important;
  padding: 0px !important;
  margin-left:0px !important;
  margin-right:0px !important;
  text-shadow: none !important;
  font-weight: normal !important;
  color: initial !important;
  border: 1px solid !important;
  height: 12px !important;
  border-right-color: rgba(0,0,0,0.12) !important;
  border-left-color: rgba(0,0,0,0.12) !important;
  border-bottom-color: rgba(0, 0, 0, 0.18) !important;
  border-top-color: rgba(0, 0, 0, 0.08) !important;
  background-image: linear-gradient(to bottom, rgba(255,255,255,1),
                                             rgba(231,231,231,1)) !important;
  
}



/* Tabs On Bottom */
#TabsToolbar {
  -moz-box-ordinal-group: 3;
}




/* Bookmarks Bar fix */
#PersonalToolbar {
  -moz-box-ordinal-group: 2;
  border-top: solid 0px black !important;
}
#navigator-toolbox::after {
    border-top: solid black 0px !important;
   border-bottom: 0px !important; 
  
}

#nav-bar{
  background-image: linear-gradient(to top, #8c8c8c 1px, #bcbcbc 1px, #d4d4d4) !important;;
}
#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  flex-grow: 1 !important;
  min-width: 11em !important;
  max-width: 1000em !important;
  background-color: #f4f4f4 !important;
  border-bottom: solid 1px #c8c8c8 !important;
}

#urlbar .urlbar-input-box {
    text-align: center;
}



/* Hide tab borders */
:root {
  --tabs-border: transparent !important;
  }

/* Hide separators between background tabs */
.tabbrowser-tab::before {
  color: purple !important; 
  opacity: 0 !important; 
  }

/* Hide border from rightmost background tab */
.tabbrowser-tab::after {
  color: green !important; 
  opacity: 0 !important; 
  }

/* Remove placeholder right border */
.titlebar-placeholder {
  border: none !important;
  }

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
  }

/* tab line - adjust color & size */ 
.tab-line { 
  background-color: #0a84ff !important; 
  height: 0px !important;
  }
/* Center all inside tab */
.tab-content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -1px;
	min-width: 100% !important;
}

/* Prevent tab icons size breaking */
.tab-icon-image, .tab-icon-sound, .tab-throbber, .tab-throbber-fallback, .tab-close-button {
	min-width: 16px;
}

/* Adjust tab label width */
.tab-label-container {
	min-width: 0 !important;
}

/* Put tab close button and icon sound to the right */
.tab-icon-sound[soundplaying="true"], .tab-icon-sound[muted="true"],
.tab-icon-sound[activemedia-blocked="true"] {
	margin-left: auto !important;
}
.tabbrowser-tab:not([soundplaying]):not([muted]):not([activemedia-blocked]) .tab-close-button {
	margin-left: auto !important;
}