/*
How to apply on Firefox 57+:

1) menu => help => Troubleshooting Information  => Application Basics  => Profile Folder => click on "Open Folder"
2) If not already exist, create folder "chrome" (case sensetive)/n
3) Inside, if not already exist, create file "userContent.css" (case sensetive)\n
4) Open the file and paste the script inside
5) Restart Firefox, and enjoy your new black background!
*/

@-moz-document url("about:newtab"), url("about:blank")
{
  /* Dark backgound */
  body
  {
    background: #333030 !important;
  }
}

@-moz-document url("about:newtab")
{
  /* Invert icons color to white */
  .icon, .info-option-icon, .block-snippet-button, #onboarding-overlay-close-btn
  {
    -webkit-filter: invert(100%);
  }

  .icon-pin-small, .icon-topsites
  {
    -webkit-filter: invert(0);
  }
  
  /* Dark background when hovering above the settings icon, color is inverted */
  .prefs-button:hover
  {
    background-color: #BDBDBD !important;
  }
  
  /* Dark backgound for all pop-ups */
  .sidebar, .actions, .options, .card-outer, .info-option, .context-menu, #onboarding-overlay-dialog, #snippets-container
  {
    background: #212121 !important;
    border-color: #727272 !important;
  }
  
  /* Give top border to snippet */
  #snippets-container
  {
    border-top: 2px solid #727272 !important;
  }
  
  /* Dark backgound color when highlight preview image didnt load */
  .card-preview-image-outer
  {
    background-color: #181818 !important;
  }
  
  /* Make backgound darker instead of brighter when clicking on firfox tour */
  #onboarding-overlay
  {
    background-color: rgba(20,20,20,0.9) !important;
  }
  
  /* Texts */
  h1, h4, span, #onboarding-header
  {
    color: #EEE !important;
  }

  p
  {
    color: #CCC !important;
  }

  .card-host-name
  {
    color: #AAA !important;
  }
  
  /* Ignore search autocomplete pop-up */
  #searchSuggestionTable span
  {
    color: black !important;
  }
}


/* 
Below is an old version of the script. No need to copy.
If you using old version of firefox, uncomment the part below and the delete the part above
*/
/*
@-moz-document url("about:newtab"), url("about:blank") {
  body {
    background: #333030 !important;
  }
  #newtab-customize-overlay {
    background: #000 !important;
  }
  #newtab-search-submit {  
    background: url("chrome://browser/skin/search-arrow-go.svg#search-arrow-go") center center no-repeat !important;
    background-color: #f5f5f5 !important;
  }
  #newtab-search-submit:hover { 
    border: none !important;
  }
  }
*/
