
#navigator-toolbox{
   background-image: linear-gradient(to bottom, #ffffff, #e5e5e5)
}
/* Colored line on top of selected and hovered over tabs */
.tabbrowser-tab .tab-line {
   display: none !important;
}


.tabbrowser-tab::after {
   display: none !important;
}

.tabbrowser-tab:not([selected]) {
   border-right: 1px solid #B2B5B8 !important;
   border-left: 1px solid #B2B5B8 !important;
    border-top:solid 1px #B2B5B8 !important;
    border-bottom:solid 1px #B2B5B8 !important;
   border-radius: 5px !important;
   background:transparent !importnat;
   background-image: linear-gradient(to top, #ffffff, #e5e5e5)
}




/* Selected tab */
.tabbrowser-tab[selected] .tab-background {
   border: 1px solid #B2B5B8 !important;
   border-top-style: none !important;
   border-bottom-style:none !important;
   border-left-style: none !important;
   border-right-style: none !important;
   border-radius: 5px !important;
   background-image: none !important;
   background-color: transparent !important;
}

/* Unselected hovered tabs (with animation) */

.tabbrowser-tab:not([selected]):hover .tab-background {
   background-color: #dce9f0 !important;
   transition: background-color 200ms !important;
   border-color: #dce9f0 !important;
   border-radius: 5px !important;
}


/*full-width tabs*/
#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  flex-grow: 1 !important;
  min-width: 11em !important;
  max-width: 100% !important;
}
.titlebar-placeholder {
  display: none;
}

/*#TabsToolbar .toolbarbutton-1, .tabbrowser-arrowscrollbox > .scrollbutton-up, .tabbrowser-arrowscrollbox > .scrollbutton-down {
   border:solid 1px #B2B5B8 !important;
   height: max !important;
   border-radius: 0px !important;
   
}*/


#urlbar{
  
   border-radius: 5px !important;
   background: #CDCFD0 !important;
   border-color: #B2B5B8 !important;#
   min-height: initial !important;
   margin:0 !important;
  
}
#urlbar:hover{
   background-color: #dce9f0 !important;
   transition: background-color 200ms !important;

}


.toolbarbutton-1,#urlbar{
   border: solid 1px #B2B5B8 !important;
   border-radius: 5px !important;
   background: transparent !important;
   padding: 0px !important;
   margin: 0px !important;
   height: 34px !important;
   min-height: unset !important;
   background-image: linear-gradient(to top, #ffffff, #e5e5e5)

}

.toolbarbutton-1:hover,#urlbar:hover{
   border: solid 1px #B2B5B8 !important;
   border-radius: 5px !important;
   background-color: #dce9f0 !important;
   opacity: 1 !important;
   padding: 0px !important;
   margin: 0px !important;
   transition: background-color 200ms !important;
   
}


/* Tab bar below Navigation & Bookmarks Toolbars */
#nav-bar { /* main toolbar */
  -moz-box-ordinal-group: 0 !important;
   height: unset !important;
   padding-right: 90px !important;
   padding-bottom: 0px !important; 
   padding-top: 0px !important;
   background-image: none !important;
   background-color: transparent !important;
  }
toolbarbutton:hover .toolbarbutton-badge-stack,
toolbarbutton:not([disabled]):not(.bookmark-item):not(.titlebar-button):not(.subviewbutton):hover
    > .toolbarbutton-icon,
.bookmark-item:hover {
    background: none !important; /*darken on hover*/
}
#back-button{
   border-radius: !important;
   box-shadow: -1px inset red !important;
}
#forward-button{
   border-radius: !important;
 
}
#reload-button{
   border-radius: !important;
   
}
#navigator-toolbox:after{
   border-bottom: 0px !important;
}


.tabbrowser-tab:not([selected])[beforeselected-visible], .tabbrowser-tab:not([selected])[last-visible-tab] {
   border-right:  !important;
   border-radius:  !important;
}
 
.tabbrowser-tab[first-visible-tab] {
   border-radius:  !important;
}
 
.tabbrowser-tab[last-visible-tab] {
   border-radius:  !important;
}


